body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/cardsimg.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    font-weight: bold;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

h1 {
    color: goldenrod;
    font-size: 50px;
}

#message-el {
    font-style: italic;
}

button {
    color: inherit;
    width: 250px;
    background: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 22px;
    cursor: pointer;
}
.container{
    border: 2px solid goldenrod;
    border-radius: 10px;
    width: 80vw;
    background-color:black;
    opacity: 0.8;
}